POSTGRES_USERNAME=observatorio
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=observatorio
DB_URL=bancodedados
DB_PORT=5432

BACK_URL=https://back.example.com

MAIL_USERNAME=observatoriopnaes@gmail.com
MAIL_PASSWORD=your_app_password_here
MAIL_FROM=observatoriopnaes@gmail.com